div{
  width: 31%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  float: left;
  padding: 1px;
  margin:1%;
  color: red;
  background-color: blue

}

#content{
  text-align: right;
  font-weight: bold;
  width: 20%;
  height: 50%;
  background-color: green;
  border-width: 5%;
  border-style: solid;
  color:black;
  position: relative;
  bottom:18px;
float:right;



}

h1{
  color:red;
  text-align: center;
}

/*pc*/
/*@media(min-width:992px){
    #first{
      width: 31%;
      height: 10%;
      float: left;
      margin: 1%;
      color: red;
      background-color: blue
    }
}
#second{
  width: 31%;
  height: 10%;
  float: left;
  margin: 1%;
  color: red;
  background-color: blue
}
#third{
  width: 31%;
  height: 10%;
  float: left;
  margin: 1%;
  color: red;
  background-color: blue
}*/
/*tablet*/
@media ((min-width:768px) and (max-width:991px)){


  #first{
    width: 20px;

  }
  #second{
    width: 20px;
    margin: 5px

  }

  #third{
    width:100%;
  }
}
/*smartphone*/
@media(max-width:767px){
 #first{
   width: 100%;
 }
 #second{
   width: 100%;
 }
 #third{
   width:100%;
 }
}
